<style type="text/css">
    #wa .CodeMirror{
        border: 1px solid #eee;
    }
    .CodeMirror-scroll {
        height: auto;
        overflow-y: hidden;
        overflow-x: auto;
    }
    .plugin-menu{
        float: right;
        list-style: none;
    }

    .plugin-menu li{
        float: left;
        margin-left: 10px;
    }
    .plugin-menu li a{
        text-decoration: underline;
    }
</style>
<ul class="plugin-menu">
    <li><a target="_blank" href="http://www.webasyst.ru/store/plugin/shop/wholesale/reviews/">Оставить отзыв о плагине</a></li>
    <li><a href="mailto:support@wa-plugins.ru">Поддержка разработчика плагина</a></li>
    <li><a target="_blank" href="http://wa-plugins.ru/">WA-PLUGINS.ru - сайт разработчика</a></li>
</ul>
<h1>Минимальный заказ</h1>
<div class="fields form">
    <form action="?plugin=wholesale&action=saveSettings" method="post" id="plugins-settings-form">
        {$wa->csrf()}
        <div class="field-group">
            <div class="field">
                <div class="name">
                    Статус плагина
                </div>
                <div class="value">
                    <select name="shop_wholesale[status]">
                        <option {if $settings.status == 1} selected="selected"{/if} value="1">Включен</option>
                        <option {if $settings.status == 0} selected="selected"{/if} value="0">Выключен</option>
                    </select>
                </div>
            </div>
        </div>

        {$tpls = array()}
        {foreach $domain_routes as $domain => $routes}
            {foreach $routes as $route}
                {$domain_route = "`$domain`/`$route.url`"}
                {$domain_hash = md5($domain_route)}
                {$setting = $domain_settings[$domain_hash]}
                {$templates = $setting.templates}

                <h2>Поселение: {$domain_route}</h2>

                <div class="field-group">
                    <div class="field">
                        <div class="name">
                            Статус плагина для поселения
                        </div>
                        <div class="value">
                            <select name="domains_settings[{$domain_hash}][status]">
                                <option {if $setting.status|default:1 == 1} selected="selected"{/if} value="1">Включен</option>
                                <option {if $setting.status|default:1 == 0} selected="selected"{/if} value="0">Выключен</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field-group">
                    <div class="field">
                        <div class="name">
                            Redirect. Перенаправление (дополнительная защита).
                        </div>
                        <div class="value">
                            <input type="hidden" value="0" name="domains_settings[{$domain_hash}][redirect]" />
                            <input type="checkbox" value="1" name="domains_settings[{$domain_hash}][redirect]" {if $setting.redirect|default:1}checked="checked"{/if} />
                            <p class="hint">Если опция включена, тогда осуществляется перенаправление со страниц оформления заказа на страницу корзины. 
                                Данная опция позволяет предотвратить прямые переходы к оформления заказа минуя корзину, в обход проверки минимального заказа. 
                                Данная опция вызывает циклическую переадресацию и должна быть отключена, если у вас дополнительно установлен плагин 
                                <a target="_blank" href="http://www.webasyst.ru/store/plugin/shop/onestep/">"Заказ на одной странице"</a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="field-group">
                    <div class="field">
                        <div class="name">
                            Минимальная сумма заказа
                        </div>
                        <div class="value">
                            <input type="text" name="domains_settings[{$domain_hash}][min_order_sum]" value="{$setting.min_order_sum|default:0|escape}"  /> {$currency}
                        </div>
                    </div>

                    <div class="field">
                        <div class="name">
                            Текст сообщения
                        </div>
                        <div class="value">
                            <textarea name="domains_settings[{$domain_hash}][min_order_sum_message]">{$setting.min_order_sum_message|default:''|escape}</textarea>
                        </div>
                    </div>
                </div>

                <div class="field-group">
                    <div class="field">
                        <div class="name">
                            Минимальное количество товаров в заказе
                        </div>
                        <div class="value">
                            <input type="text" name="domains_settings[{$domain_hash}][min_order_products]" value="{$setting.min_order_products|default:0|escape}"  /> шт.
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">
                            Текст сообщения
                        </div>
                        <div class="value">
                            <textarea name="domains_settings[{$domain_hash}][min_order_products_message]">{$setting.min_order_products_message|default:''|escape}</textarea>
                        </div>
                    </div>
                </div>

                <div class="field-group">
                    <div class="field">
                        <div class="name">
                            Использовать индивидуальные настройки минимального количества для каждого товара
                        </div>
                        <div class="value">
                            <input type="hidden" value="0" name="domains_settings[{$domain_hash}][product_count_setting]" />
                            <input type="checkbox" value="1" name="domains_settings[{$domain_hash}][product_count_setting]" {if $setting.product_count_setting|default:1}checked="checked"{/if} />
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">
                            Использовать индивидуальные настройки минимального количества для каждого артикула
                        </div>
                        <div class="value">
                            <input type="hidden" value="0" name="domains_settings[{$domain_hash}][sku_count_setting]" />
                            <input type="checkbox" value="1" name="domains_settings[{$domain_hash}][sku_count_setting]" {if $setting.sku_count_setting|default:1}checked="checked"{/if} />
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">
                            Текст сообщения
                        </div>
                        <div class="value">
                            <textarea name="domains_settings[{$domain_hash}][min_product_count_message]">{$setting.min_product_count_message|default:''|escape}</textarea>
                        </div>
                    </div>
                </div>

                <div class="field-group">
                    <div class="field">
                        <div class="name">
                            Использовать индивидуальные настройки кратности для каждого товара
                        </div>
                        <div class="value">
                            <input type="hidden" value="0" name="domains_settings[{$domain_hash}][product_multiplicity_setting]" />
                            <input type="checkbox" value="1" name="domains_settings[{$domain_hash}][product_multiplicity_setting]" {if $setting.product_multiplicity_setting|default:1}checked="checked"{/if} />
                        </div>
                        <p class="hint">Кратность позволяет продавать товар кратно какому-либо значению. 
                            Например, установленная кратность для товара равная 3, позволяет заказать товар в количестве 3шт., 6шт., 9шт. и тд. 
                            При этом покупатель не может заказать 1шт,2шт,4шт и тд. штук товара.</p>
                    </div>
                    <div class="field">
                        <div class="name">
                            Использовать индивидуальные настройки кратности для каждого артикула
                        </div>
                        <div class="value">
                            <input type="hidden" value="0" name="domains_settings[{$domain_hash}][sku_multiplicity_setting]" />
                            <input type="checkbox" value="1" name="domains_settings[{$domain_hash}][sku_multiplicity_setting]" {if $setting.sku_multiplicity_setting|default:1}checked="checked"{/if} />
                        </div>
                        <p class="hint">Кратность позволяет продавать товар(артикул) кратно какому-либо значению. 
                            Например, установленная кратность для артикула равная 3, позволяет заказать артикул в количестве 3шт., 6шт., 9шт. и тд. 
                            При этом покупатель не может заказать 1шт,2шт,4шт и тд. штук товара.</p>
                    </div>
                    <div class="field">
                        <div class="name">
                            Текст сообщения
                        </div>
                        <div class="value">
                            <textarea name="domains_settings[{$domain_hash}][multiplicity_product_message]">{$setting.multiplicity_product_message|default:''|escape}</textarea>
                        </div>
                    </div>
                </div>

                <div class="field-group">
                    <div class="field">
                        <div class="name">
                            Использовать индивидуальные настройки минимальной суммы заказа для категории.
                        </div>
                        <div class="value">
                            <input type="hidden" value="0" name="domains_settings[{$domain_hash}][category_sum_setting]" />
                            <input type="checkbox" value="1" name="domains_settings[{$domain_hash}][category_sum_setting]" {if $setting.category_sum_setting|default:1}checked="checked"{/if} />
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">
                            Текст сообщения
                        </div>
                        <div class="value">
                            <textarea name="domains_settings[{$domain_hash}][min_order_sum_category_message]">{$setting.min_order_sum_category_message|default:''|escape}</textarea>
                        </div>
                    </div>
                </div>

                <div class="field-group">
                    <div class="field">
                        <div class="name">
                            Использовать индивидуальные настройки минимального количества товаров в заказе для категории.
                        </div>
                        <div class="value">
                            <input type="hidden" value="0" name="domains_settings[{$domain_hash}][category_count_setting]" />
                            <input type="checkbox" value="1" name="domains_settings[{$domain_hash}][category_count_setting]" {if $setting.category_count_setting|default:1}checked="checked"{/if} />
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">
                            Текст сообщения
                        </div>
                        <div class="value">
                            <textarea name="domains_settings[{$domain_hash}][min_order_count_category_message]">{$setting.min_order_count_category_message|default:''|escape}</textarea>
                        </div>
                    </div>
                </div>

                <div class="field-group">
                    <div class="field">
                        <div class="name">
                            Вывод в стандартном месте (хук frontend_cart)
                        </div>
                        <div class="value">
                            <input type="hidden" value="0" name="domains_settings[{$domain_hash}][default_output]" />
                            <input type="checkbox" value="1" name="domains_settings[{$domain_hash}][default_output]" {if $setting.default_output|default:1}checked="checked"{/if} />
                            или используйте хелпер вывода <b>{literal}{shopWholesalePlugin::display()}{/literal}</b>
                        </div>
                    </div>
                </div>

                <div class="field-group">
                    <div class="field">
                        <div class="name">
                            Настройки минимального заказа для различных способов доставки
                        </div>
                        <div class="value">
                            <table class="zebra" id="s-settings-shipping">
                                <thead>
                                <th></th>
                                <th>Способ доставки</th>
                                <th>Минимальная сумма заказа</th>
                                </thead>
                                <tbody>
                                    {foreach $instances as $id => $plugin}
                                        <tr data-id="{$id}">
                                            <td class="min-width">
                                                {if !empty($plugin.logo)}
                                                    <img src="{$plugin.logo}">
                                                {elseif !empty($plugin.img)}
                                                    <img src="{$plugin.img}">
                                                {/if}
                                            </td>
                                            <td style="width:30%">
                                                <h3 class="large{if empty($plugin.status)} gray{/if}">
                                                    {$plugin.name|escape}
                                                    {if empty($plugin.status)}([`disabled`]){/if}
                                                </h3>
                                                <p class="hint">{strip_tags($plugin.description)}</p>
                                            </td>
                                            <td>
                                                <input type="text" name="domains_settings[{$domain_hash}][plugins][{$id}]" value="{$setting.plugins[$id]|escape|default:0}" /> {$currency}
                                            </td>
                                        </tr>
                                    {foreachelse}
                                        <tr>
                                            <td>
                                                <em class="gray">[`No shipping options are defined.`]</em>
                                            </td>
                                        </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="field">
                        <div class="name">
                            Текст сообщения
                        </div>
                        <div class="value">
                            <textarea name="domains_settings[{$domain_hash}][shipping_message]">{$setting.shipping_message|default:''|escape}</textarea>
                        </div>
                    </div>
                </div>

                <div class="field-group">
                    <div class="field">
                        <a class="edit-templates" href="#"><i class="icon16 edit"></i>Шаблоны</a>
                    </div>


                    <div class="templates-block">
                        {foreach from=$templates key=key item=template}
                            {$count = array_push($tpls,"'sf-template-`$key`-`$domain_hash`'")}
                            <div class="field">
                                <div class="name">
                                    {$template.name}<br /><span class="hint">HTML + Smarty</span>
                                </div>
                                <div class="value no-shift">
                                    <a class="edit-template" href="#"><i class="icon16 edit"></i>Изменить шаблон</a>
                                    <div class="template-block">
                                        <textarea id="sf-template-{$key}-{$domain_hash}"  class="body" name="domains_settings[{$domain_hash}][templates][{$key}][template]">{$template.template|escape}</textarea>

                                        {if $template.change_tpl}
                                            <p class="gray"><i class="icon16 exclamation"></i>Внимание! Шаблон по умолчанию был изменен</p>
                                            <input type="checkbox" name="domains_settings[{$domain_hash}][templates][{$key}][reset_tpl]" value="1"  /> - Сбросить изменения, использовать шаблон по умолчанию
                                        {/if}

                                    </div>
                                </div>
                            </div>
                        {/foreach}
                    </div>
                </div>



                <hr>
            {/foreach}
        {/foreach}

        <div class="field">
            <div class="value">
                <input type="checkbox" name="reset" value="1"  /> - Сбросить все изменения
            </div>
        </div>


        <div class="field">
            <div class="value submit">
                <input type="submit" class="button green" value="Сохранить">
                <span id="plugins-settings-form-status" style="display:none">
                    <i style="vertical-align:middle" class="icon16 yes"></i> [`Saved`]
                </span>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $(function () {

        var ids = [{implode(',', $tpls)}];
        for (var i = 0; i < ids.length; i++) {
            var c = CodeMirror.fromTextArea(document.getElementById(ids[i]), {
                mode: "text/html",
                tabMode: "indent",
                height: "dynamic",
                lineWrapping: true
            });
            $(ids[i]).change(function () {
                c.setValue($(this).val())
            });
            $(ids[i]).submit(function () {
                var f = $(this);
                $.post(f.attr('action'), f.serialize(), function (response) {
                    if (response.status == 'ok') {
                        $('#wa-design-button').removeClass('red').addClass('green');
                        $("#wa-editor-status-fail").hide()
                        $("#wa-editor-status-ok span").html(response.data.message);
                        $("#wa-editor-status-ok").fadeIn('slow', function () {
                            $(this).fadeOut(1000);
                        });
                    } else {
                        $('#wa-design-button').removeClass('green').addClass('red');
                        $("#wa-editor-status-ok").hide();
                        $("#wa-editor-status-fail span").html(response.errors.join(', '));
                        $("#wa-editor-status-fail").fadeIn('slow');
                    }
                }, "json")
                return false;
            });
        }

        $('.template-block').hide();
        $('.edit-template').click(function () {
            var template = $(this).closest('.field').find('.template-block');
            if (template.is(':visible')) {
                template.hide();
            } else {
                template.show();
            }
            return false;

        });

        $('.templates-block').hide();
        $('.edit-templates').click(function () {
            var block = $(this).parent().next('.templates-block');
            if (block.is(':visible')) {
                block.hide();
            } else {
                block.show();
            }
            return false;
        });
    });
</script>