<style type="text/css">
    #wa .CodeMirror{
        border: 1px solid #eee;
    }
    .CodeMirror-scroll {
        height: auto;
        overflow-y: hidden;
        overflow-x: auto;
    }
    .plugin-menu{
        float: right;
        list-style: none;
    }

    .plugin-menu li{
        float: left;
        margin-left: 10px;
    }
    .plugin-menu li a{
        text-decoration: underline;
    }
</style>
{*
<ul class="plugin-menu">
    <li><a target="_blank" href="http://www.webasyst.ru/store/plugin/shop/wholesale/reviews/"><i class="icon16 star"></i>Оставить отзыв о плагине</a></li>
    <li><a href="mailto:support@wa-plugins.ru"><i class="icon16 ss pt hammer"></i>Поддержка</a></li>
    <li><a target="_blank" href="http://wa-plugins.ru/"><i class="icon16 ss pt globe"></i>WA-PLUGINS.ru - сайт разработчика</a></li>
</ul>
*}
<h1>Минимальный заказ</h1>
<div class="fields form">
    <form action="?module=plugins&id=wholesale&action=save" method="post" id="plugins-settings-form_">
        {$wa->csrf()}

        <div class="field-group">
            <div class="field">
                <div class="name">
                    Статус плагина
                </div>
                <div class="value no-shift s-ibutton-checkbox">
                    <input type="hidden" name="shop_wholesale[status]" value="0">
                    <input type="checkbox" id="ibutton-status" name="shop_wholesale[status]" value="1"{if $settings.status|default:0} checked{/if}>
                </div>
            </div>
        </div>
        <div class="field-group"{if !$settings.status|default:0} style="display:none"{/if}>
            <div class="field">
                <div class="name">
                    Выберите поселение
                </div>
                <div class="value">
                    <select name="route_hash" id="route-selector">
                        <option value="0">Общие настройки для всех поселений</option>
                        {foreach $route_hashs as $route_url => $route_hash}
                            <option value="{$route_hash}"{if $route_hash == $settings.route_hash|default:0} selected="selected"{/if}>{$route_url}</option>
                        {/foreach}
                    </select>

                </div>
            </div>
        </div>

        <div class="field-group"{if !$settings.status|default:0} style="display:none"{/if}>
            <div class="route-container block double-padded">

            </div>
        </div>

        <div class="field-group"{if !$settings.status|default:0} style="display:none"{/if}>
            <div class="field">
                <div class="value submit">
                    <input type="submit" class="button green" value="Сохранить">
                    <span id="plugins-settings-form-status" style="display:none">
                        <i style="vertical-align:middle" class="icon16 yes"></i> [`Saved`]
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>

{$tpls = []}
{foreach $templates as $key => $template}
    {$count = array_push($tpls, "'sf-template-`$key`'")}
{/foreach}
<script type="text/javascript" src="{$wa_app_static_url}plugins/wholesale/js/settings.js?{$wa->version()}"></script>
<script type="text/javascript">
    $(function () {
        $.wholesale_settings.init({
            ids: [{implode(',', $tpls)}]
        });
    });
</script>