<input type="hidden" name="category_id" value="{$category.id}" />

<div class="field">
    <div class="name">Минимальная сумма всех товаров из этой категории и подкатегорий для осуществления заказа</div>
    <div class="value no-shift">
        <input type="text" name="min_sum" value="{$category.min_sum|escape}" class="bold numerical small">
        <p class="hint">
            Если покупатель добавил себе в корзину товары из этой категории или подкатегорий, 
            то, для осуществления заказа, суммарная стоимость товаров из этой категории или подкатегорий не должна быть меньше установленного значения. 
            Если суммарная стоимость товаров из этой категории и подкатегорий меньше установленного значения, 
            то покупателю выдается сообщение об ошибки и блокируется возможность оформить заказ.
            Если в корзине покупателя нет товаров из категории и подкатегорий, то данное ограничение не действует и покупатель может оформить заказ.            
        </p>
    </div>
</div>
<div class="field">
    <div class="name">Минимальное количество всех товаров из этой категории и подкатегорий для осуществления заказа</div>
    <div class="value no-shift">
        <input type="text" name="min_product_count" value="{$category.min_product_count|escape}" class="bold numerical small">
        <p class="hint">
            Если покупатель добавил себе в корзину товары из этой категории или подкатегорий, 
            то, для осуществления заказа, суммарное количество товаров из этой категории или подкатегорий не должно быть меньше установленного значения. 
            Если суммарное количество товаров из этой категории и подкатегорий меньше установленного значения, 
            то покупателю выдается сообщение об ошибки и блокируется возможность оформить заказ.
            Если в корзине покупателя нет товаров из категории и подкатегорий, то данное ограничение не действует и покупатель может оформить заказ.            
        </p>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('input[name="min_sum"], input[name="min_product_count"]').change(function () {
            $.ajax({
                url: "?plugin=wholesale&action=saveCategory",
                dataType: 'json',
                type: 'POST',
                data: {
                    _csrf: $('input[name=_csrf]').val(),
                    category_id: $('input[name=category_id]').val(),
                    name: $(this).attr('name'),
                    value: $(this).val()
                }
            }).done(function (response) {


            });
        });
    });
</script>