<style>
    .cart_wholesale{
        color: #FF0000;
        font-weight: bold;
    }
</style>
<script>
    (function($) {
        $.wholesale_plugin = {
            options: {},
            init: function(options) {
                this.options = options;
                if (!this.options.wholesale_check) {
                    this.locking();
                }
                this.submitForm();
                this.checkInterval();
            },
            locking: function() {
                $('input[name="checkout"]').hide();
                $('.cart_wholesale').text(this.options.wholesale_message);
            },
            unlocking: function() {
                $('input[name="checkout"]').show();
                $('.cart_wholesale').text('');
            },
            submitForm: function() {
                self = this;
                $('input[name="checkout"]').closest('form').submit(function() {
                    if (!self.options.wholesale_check) {
                        return false;
                    }
                });
            }, checkInterval: function() {
                self = this;
                setInterval(function() {
                    if (self.options.cart_total != $('.cart-total').text()) {
                        $.ajax({
                            type: 'POST',
                            url: self.options.checkUrl,
                            dataType: 'json',
                            success: function(data, textStatus, jqXHR) {
                                self.options.wholesale_check = data.data.check.result;
                                self.options.wholesale_message = data.data.check.message;
                                if (data.data.check.result) {
                                    self.unlocking();
                                } else {
                                    self.locking();
                                }
                            }
                        });
                        self.options.cart_total = $('.cart-total').text();
                    }
                }, 500);
            }

        };
    })(jQuery);

    $(function() {
        $.wholesale_plugin.init({
            'checkUrl': '{$wa_app_url}wholesale/',
            'wholesale_check': {$wholesale.result},
            'wholesale_message': '{$wholesale.message}',
            'cart_total': $('.cart-total').text()
        });
    });

</script>

<div class="cart_wholesale"></div>