<script type="text/javascript">
    $(function () {
        var form = $('{$settings.product_cart_form_selector|escape}');
        var submit = $('{$settings.product_add2cart_selector|escape}');
        var input_quantity = form.find('input[name=quantity]');
        var old_quantity_val = input_quantity.val();
        var loading = $('<i class="wholesale-loading icon16 loading"></i>');

        var current_quantity = input_quantity.val();
        setInterval(function () {
            if (current_quantity != input_quantity.val() && !input_quantity.is(":focus")) {
                current_quantity = input_quantity.val();
                input_quantity.change();
            }
        }, 500);

        var busy = false;
        function wholesale_product(message) {
            if (!busy) {
                submit.hide().after(loading);
                busy = true;
                $.ajax({
                    type: 'POST',
                    url: '{$wa_app_url}wholesale/product/',
                    data: form.serialize() + '&old_quantity=' + old_quantity_val,
                    dataType: 'json',
                    success: function (data, textStatus, jqXHR) {
                        busy = false;
                        if (data.data.check.result) {
                            $('.wholesale-loading').remove();
                            submit.show();
                        } else {
                            input_quantity.val(data.data.check.quantity);
                            $('.wholesale-loading').remove();
                            submit.show();
                            if (message) {
                                alert(data.data.check.message);
                            }
                        }
                        old_quantity_val = input_quantity.val();
                    }
                });
            }
        }

        wholesale_product(0);

        input_quantity.change(function () {
            wholesale_product({$settings.product_message});
        });
    });
</script>