<style>
    .cart_wholesale{
        color: #FF0000;
        font-weight: bold;
    }
</style>
<script>
    var wholesale_message = '{$message|escape}';
    var wholesale_check = {$check};
    var cart_total = $('.cart-total').text();

    function submitForm()
    {
        if(!wholesale_check) {
            return false;
        }
    }
    function locking() {
        $('input[name="checkout"]').hide();
        var form = $('input[name="checkout"]').closest('form');
        form.submit(submitForm);
        $('.cart_wholesale').text(wholesale_message);
    }
    
    function unlocking() {
        $('input[name="checkout"]').show();
        var form = $('input[name="checkout"]').closest('form');
        form.submit(submitForm);
        $('.cart_wholesale').text('');
    }

    function checkOrder() {
        if (cart_total != $('.cart-total').text()) {
            $.ajax({
                type: 'POST',
                url: '{$wa_app_url}wholesale/',
                dataType: 'json',
                success: function(data, textStatus, jqXHR) {
                    wholesale_check = data.data.check;
                    if(data.data.check) {
                        unlocking();
                    } else {
                        locking();
                    }
                }
            });
            cart_total = $('.cart-total').text();
        }
    }

    $(function() {
        if (!wholesale_check) {
            locking();
        }
        setInterval(checkOrder, 500);
    });
</script>

<div class="cart_wholesale"></div>