<style>
    #wholesale-cart{
        color: #FF0000;
        font-weight: bold;
    }
</style>
<script type="text/javascript">
    $(function () {
        var wholesale = $('#wholesale-cart');
        var checkout_button = $('input[name=checkout]');
        wholesale.on('updateCart', function () {
            checkout_button.attr('disabled', true);
            wholesale.text('');
            var loading = $('<i class="icon16 loading"></i>').insertBefore(checkout_button);
            $.ajax({
                type: 'POST',
                url: '{$wa_app_url}wholesale/cart/',
                dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                    loading.remove();
                    if (data.data.check.result) {
                        checkout_button.removeAttr('disabled');
                    } else {
                        wholesale.text(data.data.check.message);
                    }
                },
                error: function (jqXHR, errorText) {
                    loading.remove();
                    checkout_button.removeAttr('disabled');
                    console.log(jqXHR.responseText);
                }
            });
        });
        wholesale.trigger('updateCart');
        var total = $('.cart-total').html();
        setInterval(function () {
            if (total != $('.cart-total').html()) {
                total = $('.cart-total').html();
                wholesale.trigger('updateCart');
            }
        }, 500);
    });
</script>

<div id="wholesale-cart"></div>
