<style>
    .shipping_wholesale{
        color: #FF0000;
        font-weight: bold;
    }
</style>
<script>
    (function ($) {
        $.wholesale_shipping_plugin = {
            options: {},
            init: function (options) {
                this.options = options;
                if (!this.options.wholesale_check) {
                    this.locking();
                }
                this.submitForm();
                this.changeShipping();
                $('input[name=shipping_id]:checked').change();
            },
            locking: function () {
                $('.checkout-form input[type="submit"]').attr('disabled', true);
                $('.shipping_wholesale').text(this.options.wholesale_message);
            },
            unlocking: function () {
                $('.checkout-form input[type="submit"]').removeAttr('disabled');
                $('.shipping_wholesale').text('');
            },
            submitForm: function () {
                var self = this;
                $('.checkout-form').submit(function () {
                    if (!self.options.wholesale_check) {
                        return false;
                    }
                });
            }, changeShipping: function () {
                var self = this;
                $(document).off('change', 'input[name=shipping_id]').on('change', 'input[name=shipping_id]', function () {
                    var shipping_id = $(this).val();
                    $('.shipping_wholesale').html('<i class="icon16 loading"></i>');
                    $('.checkout-form .checkout-step-content:not(.auth) input[type="submit"]').attr('disabled', true);
                    $.ajax({
                        type: 'POST',
                        url: self.options.checkUrl,
                        dataType: 'json',
                        data: {
                            shipping_id: shipping_id
                        },
                        success: function (data, textStatus, jqXHR) {
                            $('.checkout-form .checkout-step-content:not(.auth) input[type="submit"]').removeAttr('disabled');
                            self.options.wholesale_check = data.data.check.result;
                            self.options.wholesale_message = data.data.check.message;
                            if (data.data.check.result) {
                                self.unlocking();
                            } else {
                                self.locking();
                            }
                        }
                    });
                });
            }
        };
    })(jQuery);
    $(function () {
        $.wholesale_shipping_plugin.init({
            'checkUrl': '{$wa_app_url}wholesale/shipping/'
        });
    });

</script>

<div class="shipping_wholesale"></div>